Django==5.2.10
asgiref>=3.7,<4.0
django-cors-headers>=4.3,<5.0
djangorestframework>=3.14,<4.0
sqlparse>=0.4,<0.6
djangorestframework-simplejwt>=5.3
dj-database-url>=2.2,<3
gunicorn>=23,<24
psycopg[binary]>=3.2,<4
python-dotenv>=1.0,<2
whitenoise>=6.8,<7
